<!DOCTYPE html>
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if IE 9]>					<html class="ie9 no-js" lang="en">     <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="not-ie no-js" lang="en">
<!--<![endif]-->

<head>

	<link href='http://fonts.googleapis.com/css?family=Salsa|Rancho|Jockey+One|Oswald|Yanone+Kaffeesatz'
		rel='stylesheet' type='text/css' />
	<meta charset="utf-8" />

	<title>Happy Learning</title>

	<link rel="stylesheet" href="css/styles.css" />
	<link rel="stylesheet" href="css/video-js.css" />
	<link rel="stylesheet" href="css/prettyPhoto.css" />
	<link rel="stylesheet" href="themeChanger/css/colorpicker.css" />
	<link rel="stylesheet" href="themeChanger/css/themeChanger.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
		integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<!-- HTML5 Shiv -->
	<script defer src="main.dart.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body class="t-blue t-pattern-1 secondary-page t-menu-1 t-header-1 t-text-1">

	<div class="top-panel">
		<div class="l-page-width">
			<div class="tweets"></div>
		</div>
	</div>
	<!--/ .top-panel-->

	<div class="kids-bg-level-1">

		<header id="kids_header">

			<div class="l-page-width clearfix">

				<div class="bg-level-1-left" id="bg-level-1-left"></div>
				<div class="bg-level-1-right" id="bg-level-1-right"></div>



				<div id="kids_logo_block">
					<a id="kids_logo_text" href="index.html" title="Happy Kids">
						<img src="img/title.png" alt="" />
					</a>
				</div>
				<section>
					<h1>Todo list:</h1>
					<p><em>using `ng-model`</em></p>
					Remaining: {{remaining()}}
					<div>
						<material-checkbox *ngFor="let todo of todos" [(ngModel)]="todo.done" [label]="todo.text">
						</material-checkbox>
					</div>
					<div>
						<material-input [ngFormControl]="newTodo" label="add new todo here" type="text" required
							errorMsg="This input requires a value!">
						</material-input>
						<material-button raised (trigger)="addTodo()">add it</material-button>
					</div>
					<div class="debug-info">
						Form entry = {{newTodo.value}}<br />
						Model dump:
						<ul>
							<li *ngFor="let todo of todos">{{todo.text}}: {{todo.done}}</li>
						</ul>
					</div>
				</section>

				<hr />

				<section>
					<h1>Custom:</h1>
					<p><em>Tab Index</em></p>
					<div>
						<material-checkbox no-ink tabindex="2" label="Custom tab index">
						</material-checkbox>
					</div>
					<p><em>no ripple on click, using events and properties</em></p>
					<div>
						<material-checkbox no-ink [disabled]="disabledState" [(checked)]="checkedState"
							[(indeterminate)]="indeterminateState" [indeterminateToChecked]="indeterminateBehavior"
							(change)="statusStr=$event" [label]="customLabel">
						</material-checkbox>
					</div>
					<div>
						<material-input [ngFormControl]="newLabel" label="enter new label here" type="text">
						</material-input>
						<material-button raised (trigger)="setLabel()">update label</material-button><br />
						<material-toggle [(checked)]="disabledState"
							label="Tap to {{disabledState ? 'enable' : 'disable'}}">
						</material-toggle><br />
						<material-toggle [(checked)]="indeterminateState"
							label="Tap to {{indeterminateState ? 'unset indeterminate' : 'set indeterminate'}}">
						</material-toggle><br />
						<material-toggle [(checked)]="indeterminateBehavior"
							label="Tap to {{indeterminateBehavior ? 'go from indeterminate to unchecked' : 'go from indeterminate to checked'}}">
						</material-toggle><br />
					</div>
					<div class="debug-info">
						new label = {{newLabel.value}}<br />
						current label = {{customLabel}}<br />
						status = {{statusStr}}<br />
						checked = {{checkedState}}<br />
						disabled = {{disabledState}}<br />
						indeterminate = {{indeterminateState}}<br />
						indeterminateToChecked = {{indeterminateBehavior}}<br />
					</div>
				</section>

				<hr />

				<section>
					<h1>Various states:</h1>
					<div>
						<h3>No label</h3>
						<material-checkbox></material-checkbox>
						<h3>Unchecked</h3>
						<material-checkbox label="plain unchecked"></material-checkbox>
						<h3>Checked</h3>
						<material-checkbox [checked]="true" label="plain checked"></material-checkbox>
						<h3>Indeterminate</h3>
						<material-checkbox [indeterminate]="true" label="work in progress"></material-checkbox>
						<h3>Disabled</h3>
						<material-checkbox [disabled]="true" label="mission impossible"></material-checkbox>
						<h3>Checked and disabled</h3>
						<material-checkbox [checked]="true" [disabled]="true" label="done and done">
						</material-checkbox>
						<h3>Indeterminate and disabled</h3>
						<material-checkbox [indeterminate]="true" [disabled]="true" label="done and done">
						</material-checkbox>
						<h3>Checked and indeterminate = indeterminate</h3>
						<material-checkbox [indeterminate]="true" [checked]="true" label="indeterminate?">
						</material-checkbox>
						<h3>Programmatically set checkbox color</h3>
						<material-checkbox label="A red checkbox" themeColor="#FF0000">
						</material-checkbox>
						<material-checkbox label="A magenta checkbox" themeColor="#FF00FF">
						</material-checkbox>
						<h3>Label wrapped if width limit is enforced</h3>
						<material-checkbox class="limited-width"
							label="long label is bad label, but internationalisation has its own opinions">
						</material-checkbox>
						<h3>Custom content; align top</h3>
						<material-checkbox class="top">
							<div class="custom">
								Your feedback <a href="http://google.com" target="_blank">more info</a>
								<material-icon icon="help" baseline class="help-icon"></material-icon><br />
								<textarea cols="40" rows="2"></textarea>
							</div>
						</material-checkbox>
					</div>
				</section>

				<section>
					<h1>Custom theme:</h1>
					<div>
						<h3><em>material-checkbox-color($mat-pink-500)</em></h3>
						<material-checkbox class="custom-theme" [checked]="true" label="Themed!"></material-checkbox>
					</div>
				</section>

				<section>
					<h1>Custom mixins:</h1>
					<div>
						<h3>checkbox-no-left-margin</h3>
						<material-checkbox class="material-checkbox-no-left-margin"></material-checkbox>
					</div>
				</section>



			</div>
			<!--/ .l-page-width-->

		</header>
		<!--/ #kids_header-->

	</div><!-- .bg-level-1 -->

	<div id="kids_middle_container">

		<div class="kids_top_content">

			<div class="kids_top_content_head">
				<div class="kids_top_content_head_body"></div>
			</div><!-- .kids_top_content_head -->

			<div class="kids_top_content_middle">

				<div class="l-page-width">
					<!-- .kids_posts_container -->
				</div>

			</div><!-- .kids_top_content_middle -->

			<div class="kids_top_content_footer"></div>

		</div><!-- .end_middle_cloud  -->

		<div class="bg-level-2-full-width-container kids_bottom_content">

			<div class="bg-level-2-page-width-container l-page-width no-padding">

				<section class="kids_bottom_content_container">

					<div class="header_container">




					</div>

					<div id="sbr" class="entry-container">

						<todo-list></todo-list>




						<!--/ sidebar-right-->
						<!-- ***************** - END content - ***************** -->



					</div><!-- .entry-container -->

				</section><!-- .bottom_content_container -->

				<div class="bg-level-2-left" id="bg-level-2-left"></div> <!-- .left_patterns -->
				<div class="bg-level-2-right" id="bg-level-2-right"></div><!-- .right_patterns -->

			</div>

		</div>

	</div><!-- .end_content -->

</body>

</html>